<a href="/post/{{id}}" style="text-decoration: none;">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{title}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{text}}</p>
    </div>
    <div class="card-footer text-body-secondary">
      <b>{{user.username}}</b>
      |
      {{format_date createdAt}}
      |
      <i class="bi bi-chat-left-text"></i>
      {{comments.length}}
    </div>
  </div>
</a>