{{#with post}}
  <div class="card">
    <div class="card-body">
      <h2>{{title}}</h2>
      <p>{{text}}</p>
      <hr />
      <b>{{user.username}}</b><br />{{format_date createdAt}}
    </div>
  </div>
{{/with}}
{{#if isAuthor}}
  <div class="btn-group d-inline" role="group" aria-label="Edit or delete this post">
    <button id="edit" type="button" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</button>
    <button id="delete" type="button" class="btn btn-danger"><i class="bi bi-trash3"></i> Delete</button>
  </div>
{{/if}}
{{#if user}}
  <div class="form-floating">
    <textarea class="form-control" placeholder="Comment" id="floatingTextarea" style="height: 100px"></textarea>
    <label for="floatingTextarea">Leave a comment...</label>
  </div>
  <div class="d-inline"><button id="comment" class="btn btn-primary">Comment</button></div>
{{else}}
  <p>Please <a href="/login">log in</a> to leave a comment.</p>
{{/if}}
{{#with post}}
  {{#if comments}}<h2>Comments ({{comments.length}}):</h2>{{/if}}
  {{#each comments}}
    <div class="card">
      <div class="card-body">
        <p class="mb-2">{{text}}</p>
        <hr />
        <b>{{user.username}}</b><br />{{format_date createdAt}}
      </div>
    </div>
  {{else}}
    <p>This post has no comments.</p>
  {{/each}}
{{/with}}
<script src="/js/comment.js"></script>